<%- include('../partials/header.ejs')%>

  <% if(path === '/help/*'){ %>
    <h3><%= para %></h3>

    <% } else { %>
        <h3><%= para %></h3>

        <% } %>
<%- include('../partials/footer.ejs')%>
</body>
</html>      
