<%-include('../partials/header.ejs')%>
<body>
    <div>
    <h1><%=title%></h1>
<%- include("../partials/navigation.ejs")%>

<p>This site was created by Komal Tolambia. It uses data from mapbox.com and weatherstack.com!</p>
<img src="/img/me.png" alt="my picture">
<!-- <%-include('../partials/footer.ejs')%> -->
</div>
</body>
</html>