<%- include('../partials/header.ejs')%>
<body>
    <div>
    <h1><%=title%></h1>
<%- include("../partials/navigation.ejs")%>
<p>This is some helpful text</p>
 <!-- <%- include('../partials/footer.ejs')%> -->
</div>
</body>
</html>